// Logo

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// Search Box

.search {
  flex: 0 0 40%;
  display: flex;
  // FIXME: Do I really need these two? With out them it works the same
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-grey-dark-3);
    background-color: var(--color-grey-light-2);
    width: 90%;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 15px;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &::placeholder {
      color: var(--color-grey-light-4);
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    align-self: center;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

// User

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 1rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    // aligns notification text to center
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name {
    color: var(--color-grey-dark-2);
    font-weight: bold;
  }
}

// Side Navigation

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    // Change background-color when item is clicked
    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-grey-light-1);
    margin-right: 1.5rem;
  }
}

// Legal Text

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  text-align: center;
  padding: 2.5rem;
}

// Gallery

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

// Overview

.overview {
  display: flex;
  align-items: center;
  // padding: 1rem;
  border-bottom: 1px solid var(--color-grey-light-2);

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 3rem;
  }

  &__star {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    // border: none;
    padding-right: 3rem;
    font-size: 1.4rem;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    padding: 0 2.25rem;
    background-color: var(--color-primary);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--color-grey-light-1);
    margin-bottom: -5px;
  }

  &__rating-count {
    font-size: 1rem;
    color: var(--color-grey-light-1);
  }
}

// Button inline

.btn-inline {
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  font-size: inherit;
  padding: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }
  
  &:focus {
    animation: pulsate 1s infinite;
    outline: none;
  }
}

// .btn-inline animation 
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
